{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  com.taoensso/nippy {:mvn/version "3.1.1"}
  }
 :aliases
 {:test {:deps 
         {midje/midje {:mvn/version "1.10.5"}}
         :extra-paths ['test']}}}
